html {
    /* primary theme color. This will affect the entire websites color scheme: links, arrows, labels, ... */
    --primary-color: #62967D;
    --primary-dark-color: #62967D;
    --primary-light-color: #80B0A6;
    --primary-lighter-color: #9FC27E;
    --primary-lightest-color: #DBE442;

    /* page base colors */
    --page-background-color: #FFFFFF;
    --page-foreground-color: #072031;
    --page-secondary-foreground-color: #9FC27E;


    --border-radius-large: 6px;
    --border-radius-small: 2px;
    --border-radius-medium: 4px;
    --spacing-small: 2px;
    --spacing-medium: 5px;
    --spacing-large: 10px;

    --top-height: 125px;

    --side-nav-background: #072031;
    --side-nav-foreground: #F1FDFF;
    --header-foreground: var(--side-nav-foreground);
    --searchbar-background: var(--side-nav-foreground);
    --searchbar-border-radius: var(--border-radius-medium);
    --header-background: var(--side-nav-background);
    --header-foreground: var(--side-nav-foreground);

    --toc-background: #466069;
    --toc-foreground: var(--page-foreground-color);

    --box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);

    --fragment-background: #F8F9FA;
    --separator-color: var(--fragment-background);
}

#nav-tree .selected a {
    color: #DBE442 !important;
    font-weight: bolder;
    font-weight: 600;
}
#nav-tree .selected::after {
    content: "";
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 0;
    width: 4px;
    border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
    background: #DBE442;
}

html.dark-mode {
    color-scheme: dark;

    --primary-color: #92CA3B;
    --primary-dark-color: #006747;
    --primary-light-color: #80B0A6;
    --primary-lighter-color: #9CD6CA;
    --primary-lightest-color: #9CD6CA;
    
    --page-background-color: #1C1D1F;
    --page-foreground-color: #d2dbde;
    --page-secondary-foreground-color: #859399;
    --separator-color: #3a3246;
    --side-nav-background: #2B2D30;
    --side-nav-foreground: #F1FDFF;
    --toc-background: #006747;
    --searchbar-background: var(--page-background-color);

}
